
ng-template(#genderTemplate="", let-row="row", let-value="value") {{value}}
h1 Sum of all orders for all customers: {{totalTotals | number:'0.2-2'}}
h3 Males count: {{malesCount | number:'0.0'}}
h3 Females count: {{femalesCount | number:'0.0'}}
appc-table([options]="options")
ng-template(#addressTemplate="", let-row="row")
  div(style="padding-left:35px;")
    div
      strong Details
    div {{row.address}}